.fs-1 {
  font-size: 2upx !important;
  font-weight: 700 !important; }

.fs-2 {
  font-size: 4upx !important;
  font-weight: 700 !important; }

.fs-3 {
  font-size: 6upx !important;
  font-weight: 700 !important; }

.fs-4 {
  font-size: 8upx !important;
  font-weight: 700 !important; }

.fs-5 {
  font-size: 10upx !important;
  font-weight: 700 !important; }

.fs-6 {
  font-size: 12upx !important;
  font-weight: 700 !important; }

.fs-7 {
  font-size: 14upx !important;
  font-weight: 700 !important; }

.fs-8 {
  font-size: 16upx !important;
  font-weight: 700 !important; }

.fs-9 {
  font-size: 18upx !important;
  font-weight: 700 !important; }

.fs-10 {
  font-size: 20upx !important;
  font-weight: 700 !important; }

.fs-11 {
  font-size: 22upx !important;
  font-weight: 700 !important; }

.fs-12 {
  font-size: 24upx !important;
  font-weight: 700 !important; }

.fs-13 {
  font-size: 26upx !important;
  font-weight: 700 !important; }

.fs-14 {
  font-size: 28upx !important;
  font-weight: 700 !important; }

.fs-15 {
  font-size: 30upx !important;
  font-weight: 700 !important; }

.fs-16 {
  font-size: 32upx !important;
  font-weight: 700 !important; }

.fs-17 {
  font-size: 34upx !important;
  font-weight: 700 !important; }

.fs-18 {
  font-size: 36upx !important;
  font-weight: 700 !important; }

.fs-19 {
  font-size: 38upx !important;
  font-weight: 700 !important; }

.fs-20 {
  font-size: 40upx !important;
  font-weight: 700 !important; }

.fs-21 {
  font-size: 42upx !important;
  font-weight: 700 !important; }

.fs-22 {
  font-size: 44upx !important;
  font-weight: 700 !important; }

.fs-23 {
  font-size: 46upx !important;
  font-weight: 700 !important; }

.fs-24 {
  font-size: 48upx !important;
  font-weight: 700 !important; }

.fs-25 {
  font-size: 50upx !important;
  font-weight: 700 !important; }

.fs-26 {
  font-size: 52upx !important;
  font-weight: 700 !important; }

.fs-27 {
  font-size: 54upx !important;
  font-weight: 700 !important; }

.fs-28 {
  font-size: 56upx !important;
  font-weight: 700 !important; }

.fs-29 {
  font-size: 58upx !important;
  font-weight: 700 !important; }

.fs-30 {
  font-size: 60upx !important;
  font-weight: 700 !important; }

.fs-31 {
  font-size: 62upx !important;
  font-weight: 700 !important; }

.fs-32 {
  font-size: 64upx !important;
  font-weight: 700 !important; }

.fs-33 {
  font-size: 66upx !important;
  font-weight: 700 !important; }

.fs-34 {
  font-size: 68upx !important;
  font-weight: 700 !important; }

.fs-35 {
  font-size: 70upx !important;
  font-weight: 700 !important; }

.fs-36 {
  font-size: 72upx !important;
  font-weight: 700 !important; }

.fs-37 {
  font-size: 74upx !important;
  font-weight: 700 !important; }

.fs-38 {
  font-size: 76upx !important;
  font-weight: 700 !important; }

.fs-39 {
  font-size: 78upx !important;
  font-weight: 700 !important; }

.fs-40 {
  font-size: 80upx !important;
  font-weight: 700 !important; }

.fs-41 {
  font-size: 82upx !important;
  font-weight: 700 !important; }

.fs-42 {
  font-size: 84upx !important;
  font-weight: 700 !important; }

.fs-43 {
  font-size: 86upx !important;
  font-weight: 700 !important; }

.fs-44 {
  font-size: 88upx !important;
  font-weight: 700 !important; }

.fs-45 {
  font-size: 90upx !important;
  font-weight: 700 !important; }

.fs-46 {
  font-size: 92upx !important;
  font-weight: 700 !important; }

.fs-47 {
  font-size: 94upx !important;
  font-weight: 700 !important; }

.fs-48 {
  font-size: 96upx !important;
  font-weight: 700 !important; }

.fs-49 {
  font-size: 98upx !important;
  font-weight: 700 !important; }

.fs-50 {
  font-size: 100upx !important;
  font-weight: 700 !important; }

.fs-51 {
  font-size: 102upx !important;
  font-weight: 700 !important; }

.fs-52 {
  font-size: 104upx !important;
  font-weight: 700 !important; }

.fs-53 {
  font-size: 106upx !important;
  font-weight: 700 !important; }

.fs-54 {
  font-size: 108upx !important;
  font-weight: 700 !important; }

.fs-55 {
  font-size: 110upx !important;
  font-weight: 700 !important; }

.fs-56 {
  font-size: 112upx !important;
  font-weight: 700 !important; }

.fs-57 {
  font-size: 114upx !important;
  font-weight: 700 !important; }

.fs-58 {
  font-size: 116upx !important;
  font-weight: 700 !important; }

.fs-59 {
  font-size: 118upx !important;
  font-weight: 700 !important; }

.fs-60 {
  font-size: 120upx !important;
  font-weight: 700 !important; }

.black-1 {
  color: #1a1c20; }

.black-2 {
  color: #060930; }

.black-3 {
  color: #1c2b2d; }

.black-4 {
  color: #214252; }

.black-5 {
  color: #14274e; }

.black-6 {
  color: #555555; }

.black-7 {
  color: #373a40; }

.shadow1 {
  box-shadow: 5upx 5upx 20upx #CCCCCC; }

image {
  will-change: transform; }

.button-theme-bg-color {
  background-color: #069FFF !important;
  background: #069FFF !important; }

.theme-color {
  color: #069FFF !important; }
