page{
	font-size: 30upx;
	background-color: #f7f6fb;
}
.top{
	width: 100vw;
	margin: 30upx 0 0 0;
	background-color: #FFFFFF;
}
.top .top-item{
	height: 110upx;
	width: 690upx;
	margin: 0 auto;
	/* box-sizing: border-box;
	padding: 0 30upx; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top .top-item .top-right{
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: 40upx; */
	color: #bebebe;
}
.top .top-item .top-right .icon-dayuhao {
	font-size: 40upx;
}
.top .top-item .top-right .text{
	color: #bebebe;
}
.bb{
	border-bottom: 1px solid #ececec;
}
.top .top-item .text{
	color: #bebebe;
}
.bottom_btn{
	/* margin-top: 100upx; */
	width: 690upx;
	margin: 100upx auto 0upx;
}
.bottom_btn .btn{
	background-image: linear-gradient(#4387ea, #4387ea);
	color: #FFFFFF;
	font-size: 30upx!important;
}
