view {
	box-sizing: border-box;
	line-height: 1;
}
.big-box {
	// background-color: #FFFFFF;
	width: 750upx;
	// height: 100vh;
	padding-top: 30upx;
}
.content-box {
	padding-top: 145upx;
	display: flex;
	flex-direction: column;
	align-items: center;
	.content-img {
		width: 581upx;
		height: 431upx;
	}
}
.text {
	margin-top: 50upx;
	font-size: 30upx;
	color: #9A9A9A;
}
.button-box {
	margin-top: 117upx;
	width: 249upx;
	height: 80upx;
	border: 1px solid #02D490;
	border-radius: 10px;
	color: #02D490;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30upx;
}






.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	width: 750upx;
	height: 100upx;
	padding: 0 30upx;
	border-bottom: 1upx solid rgba($color: #cccccc, $alpha: 0.5);
	.item-left,
	.item-right {
		width: 50%;
		display: flex;
		align-items: center;
	}
	.item-right {
		justify-content: flex-end;
	}
	// .item-left {
	// 		display: flex;
	// 		align-items: center;
	// 		// justify-content: space-between;
	// }
}
.item-left {
	.iconfont {
		color: #02C888;
		margin-right: 20upx;
		&.icon-dengpao {
			font-size: 40upx;
		}
	}
}
.item-right {
	
}
input {
	text-align: center;
}
.gary {
	color: #CCCCCC;
}
.icon-xiaoyufuhao {
	font-size: 24px;
}
