page {
	width: 100%;
	height: 100vh;
	background-image: url(../../../static/poster.png);
	background-color: #f00;
}
view {
	box-sizing: border-box;
	line-height: 1;
}
page {
	background-color: #ffffff;
}
.big-box {
	background-color: #ffffff;
	width: 750upx;
	height: 100vh;
	background-image: url(../../../static/poster.png);
	background-size: 100% 100%;
	position: relative;
}
.content-box {
	padding-top: 145upx;
	display: flex;
	flex-direction: column;
	align-items: center;
	.content-img {
		width: 581upx;
		height: 431upx;
	}
}
.text {
	margin-top: 50upx;
	font-size: 30upx;
	color: #9a9a9a;
}
.button-box {
	width: 348upx;
	height: 78upx;
	border: 2upx solid #699eff;
	border-radius: 40upx;
	font-size: 36upx;
	font-weight: bold;
	color: #b6bdff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30upx;
	position: absolute;
	top: 29%;
}

.icon-xiaoyufuhao {
	font-size: 24px;
}
