page{
	background-color: #f7f6fb;
}
view {
	box-sizing: border-box;
}
.big-box {
	width: 750upx;
	height: 100vh;
	// background-color: pink;
	overflow: hidden;
}
.text-green {
	color: #2ECB92;
}
.text-red{
	color: #D00E0E;
}
.greenbox{
	width: 100vw;
	height: 50upx;
	background-color: #02cc89;
}
.header-tab{
	box-sizing: content-box;
	width: 100vw;
	// height: 100upx;
	// height: 88upx;
	box-sizing: border-box;
	padding: 25upx 30upx;
	background-color: #02cc89;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	// position: sticky;
	// left: 0;
	// top: 0;
	// z-index: 2;
}
.header-tab .tab-icon{
	// font-size: 50upx;
	font-size: 40upx;
}
.tabMenu{
	// width: 100vw;
	height: 100upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	// position: sticky;
	// left: 0;
	// top: 0;
	// z-index: 2;
}
.tabMenu .tabMenu-item{
	width: 33%;
	text-align: center;
	height: 100upx;
	line-height: 100upx;
}
.active{
	position: relative;
	color: #4387ea;
}

.active::after {
	content: "";
	position: absolute;
	width: 100upx;
	height: 8upx;
	left: 50%;
	transform: translateX(-50%);
	right: 0;
	bottom: 0;
	background-color: #4387ea;
	border-radius: 20upx;
	animation: jelly 1s forwards;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@include keyframes (jelly){	
	0%{
		width: 0;
	},
	100%{
		width: 100upx;
	}
}


// mybox 
.coin-info {
	width: 100%;
	padding: 10upx 0upx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	// border-bottom: 1px solid #ececec;
	.logo-box {
		// width: 120upx;
		// height: 120upx;
		
		width: 90upx;
		height: 90upx;
		margin-right: 20upx;
	}
	.logo-img {
		// width: 100upx;
		// height: 100upx;
		width: 90upx;
		height: 90upx;
	}
	.coin-info-center {
		// height: 100upx;
		flex: 1;
		
	}
	.coin-info-right {
		// flex: 1;
		flex-shrink: 0;
		// padding: 0upx 5upx 0upx 0upx;
	}
	.coin-info-right-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.coin-title {
		font-size: 30upx;
		color: #5c6b8b;
		font-weight: 600;
	}
	.coin-addtime {
			font-size: 26upx;
			color: #5c6b8b;
			// font-weight: 700;
	}

	.coin-orderId {
		margin-top: 20upx;
		font-size: 30upx;
		word-break: break-all;
		color: #5c6b8b;
		font-weight: 700;
	}
	.from-text {
		margin-top: 6upx;
		// color: #5c6b8b;
		color: rgba(4, 0, 125, 1);
		// font-weight: 700;
		font-size: 26upx;	
		text-align: left;
	}
}
// mybox 
.box{
	box-sizing: border-box;
	width: 690upx;
	// height: 350upx;
	// height: 404upx;
	background-color: #FFFFFF;
	border-radius: 10upx;
	margin: 0 auto;
	margin-top: 20upx;
	overflow: hidden;
	box-sizing: border-box;
	// padding: 0 20upx 30upx;
	// padding: 0 10upx 30upx;
	padding: 0 10upx 10upx;
}
.box .box-top{
	width: 100%;
	// height: 140upx;
	padding: 30upx 0upx;
	border-bottom: 1px solid #ececec;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box .box-top .top-left{
	display: flex;
	align-items: center;
}
.box .box-top .top-left .img{
	// width: 80upx;
	// height: 80upx;
	width: 120upx;
	height: 120upx;
	border-radius: 50%;
}
.box .box-top .top-left .text{
	margin-left: 10upx;
}
.box .box-top .top-left .text .text-top{
	font-weight: 600;
}
.box .box-top .top-left .text .text-bottom{
		position: absolute;
		left:  120upx;
		bottom: 30upx;
	font-size: 30upx;
}
.box .box-top .top-right{
	flex-shrink: 0;
	font-size: 20upx;
	text-align: right;
	word-break: break-all;
	color: #b3b3b3;
}
.mt{
	margin-top: 10upx;
}
.swiper{
	// height: calc(100vh - 210upx);
	// height: auto;
	padding-bottom: 100upx;
}
.swiper .swiperbox{
	// height: 100%;
	// height: calc(100% - 105upx);
	// height: calc(100vh - 210upx);
	height: auto;
}
.box .box-bottom{
	box-sizing: border-box;
	// padding-top: 15upx;
	display: flex;
	flex-wrap: wrap;
}
.box .box-bottom .box-bottom-item{
	margin-top: 10upx;
	// width: 33%;
	width: 50%;
	// height: 100upx;
	// padding: 10upx 0upx;
	text-align: center;
	display: flex;
	justify-content: flex-start;
	// justify-content: center;
	
}

.box .box-bottom .box-bottom-item.order{ 
	width: 200upx;
}
.box .box-bottom .box-bottom-item.left{ 
	padding-left: 20upx;
}
.box .box-bottom .box-bottom-item .item-top{ 
	// font-size: 40upx;
	font-size: 28upx;
	word-break: break-all;
}
.box .box-bottom .box-bottom-item .item-bottom{
	// margin-top: 10upx;
	font-size: 24upx;
	// font-size: 30upx;
	// font-size: 32upx;
	width: 130upx;
	// margin-right: 10upx;
	color: #999999;
	
	display: flex;
	align-items: center;
}

.foot-box {
	box-sizing: border-box;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 750upx;
	height: 100upx;
	padding: 0upx 30upx;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.foot-left{
		flex: 1;

	}
}

.drawerPop-box {
	width: 602upx;
	height: 100vh;
	background-color: #FFFFFF;
	padding: 0upx 30upx;
	.drawerPop-title {
		text-align: center;
		font-weight: 700;
	}
	.drawerPop-item-wrapper {
		// margin-top: 78upx;
		margin-top: 38upx;
	}
	.drawerPop-item-title,
	.drawerPop-item-input {
		margin-top: 40upx;
	}
	.drawerPop-item,
	.drawerPop-item-title {
		font-size: 30upx;
	}
	.drawerPop-item-input {
		height: 80upx;
		border: 2upx solid #E8E8E8;
		padding: 0upx 0upx 0upx 30upx;
		input {
			width: 100%;
			height: 80upx;
		}
	}
	.drawerPop-item-input.my-time {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		
		input {
			text-align: center;
		}
	}
	.time-item-wrapper {
		box-sizing: border-box;
		view {
			box-sizing: border-box;
		}
		margin-top: 40upx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80upx;
		.drawerPop-item-input {
			width: 225upx;
			// padding: 0upx 50upx 0upx 50upx;
			margin: 0;
			// padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.time-item-input {
			margin: 0;
			width: auto;
			// width: auto;
			height: 80upx;
			font-size: 30upx;
		}
	}
	.drawerPop-foot {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 602upx;
		height: 88upx;
		display: flex;
		.drawerPop-foot-left,
		.drawerPop-foot-right {
			width: 301upx;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 30upx;
		}
		.drawerPop-foot-right {
			color: #FFFFFF;
			background-color: #4387ea;
		}
		.drawerPop-foot-left {
			background-color: #EDEDED;
		}
	}
}


.icon-xiaoyufuhao {
	font-size: 24px;
}
